@use "./colors" as *;

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	background: $body-color;
}

body,
button,
input,
a {
	font-family: "Lato", sans-serif;
	font-size: 1.0rem;
	color: $text-main-color;
}

main {
	flex: 1;
}



body {
	--sb-track-color: #272b2f;
	--sb-thumb-color: #ffffff;
	--sb-size: 6px;
  }
  
  body::-webkit-scrollbar {
	width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 3px;
	
  }
  
  @supports not selector(::-webkit-scrollbar) {
	body {
	  scrollbar-color: var(--sb-thumb-color)
					   var(--sb-track-color);
	}
  }