@use "./colors" as *;

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.scroll-hidden {
	overflow-y: hidden;
}

.hidden {
	display: none;
}

.display-flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
	align-items: center;
}

.aligncenter {
	align-items: center;
}

.food {
	background: $food;
}

.health {
	background: $health;
}

.bills {
	background: $bills;
}

.entertainment {
	background: $entertainment;
}

.transportation {
	background: $transportation;
}

.miscellaneous {
	background: $miscellaneous;
}

.no-phone {
	display: none;
	width: 0%;
}

.posr {
	position: relative;
}

.plus-btn {
	position: absolute;
	top: 0;
	right: 0;
}

.add__popup,
.expense__popup,
.sub__popup,
.subchange__popup {
	padding: 2em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	z-index: 100;

	button,
	input {
		font-size: 2rem;
		color: black;
	}
}

.sub-active {
	transform: translateX(0);
}

.loading {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $body-color;
	z-index: 3;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (min-width: 576px) {
	.main {
		&__container {
			&--30 {
				width: 30%;
			}
		}
	}

	.no-phone {
		display: flex;
	}
}
