@use "./colors" as *;

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.hidden {
	display: none;
}

.display-flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
	align-items: center;
}

.aligncenter {
	align-items: center;
}

.food {
	background: $food;
}

.health {
	background: $health;
}

.bills {
	background: $bills;
}

.entertainment {
	background: $entertainment;
}

.transportation {
	background: $transportation;
}

.miscellaneous {
	background: $miscellaneous;
}

.no-phone {
	display: none;
	width: 0%;
}

@media (min-width: 576px){
	.main {
		&__container {
			&--30 {
				width: 30%;
			}
		}
	}

	.no-phone {
		display: flex;
	}
}