@use "./colors" as *;

.main {
	padding: 6em 0;

	&__top,
	&__mid,
	&__bottom {
		display: flex;
		flex-direction: column;
	}

	&__title {
		position: relative;
		font-size: 2.4rem;
		font-weight: normal;
		letter-spacing: 1px;
		z-index: 1;
	}

	&__circle {
		position: relative;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background: conic-gradient(rgba(255, 255, 255, 0.1) 100% 100%);

		&-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 120px;
			height: 120px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 2.25em;
			border-radius: 50%;
			box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.25);
			background: $container-bg;
			z-index: 1;
		}
	}

	&__revenue {
		&-list {
			padding-top: 2em;
			display: flex;
			align-items: flex-end;
			height: 180px;
			padding-bottom: 0.2em;
			overflow-x: auto;

			& {
				--sb-track-color: #272b2f;
				--sb-thumb-color: #ffffff;
				--sb-size: 6px;
			}

			&::-webkit-scrollbar {
				height: var(--sb-size);
			}

			&::-webkit-scrollbar-track {
				background: var(--sb-track-color);
				border-radius: 3px;
			}

			&::-webkit-scrollbar-thumb {
				background: var(--sb-thumb-color);
				border-radius: 3px;
			}

			@supports not selector(::-webkit-scrollbar) {
				& {
					scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
				}
			}
		}

		&-box {
			position: relative;
			margin-bottom: 0.2em;
			width: 80px;
			border-radius: 10px;
			background: $revenue-box;
			overflow: hidden;
		}

		&-price {
			position: absolute;
			left: 50%;
			bottom: 5px;
			transform: translate(-50%);
			font-size: 1.4rem;
			font-weight: bold;
		}

		&-item {
			margin: 0 0.7em;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			height: 100%;
		}
	}

	&__list {
		display: flex;

		&-left {
			padding-right: 2em;
		}
	}

	&__item {
		margin: 1em 0;

		&-bottom {
			display: flex;
			padding-top: 0.5em;
		}
	}

	&__last {
		&-list {
			display: flex;
			flex-direction: column;
			max-width: 500px;
			max-height: calc(32px * 5);
			padding-right: 1em;
			overflow: hidden;
			overflow-y: auto;

			& {
				--sb-track-color: #272b2f;
				--sb-thumb-color: #ffffff;
				--sb-size: 6px;
			}

			&::-webkit-scrollbar {
				width: var(--sb-size);
			}

			&::-webkit-scrollbar-track {
				background: var(--sb-track-color);
				border-radius: 3px;
			}

			&::-webkit-scrollbar-thumb {
				background: var(--sb-thumb-color);
				border-radius: 3px;
			}

			@supports not selector(::-webkit-scrollbar) {
				& {
					scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
				}
			}
		}

		&-item {
			padding: 0.5em 0;
			display: flex;
			justify-content: space-between;

			i {
				position: relative;
				margin-left: auto;
				padding: 0.2em;
				font-size: 2rem;
				cursor: pointer;
				color: $text-second-color;
				z-index: 1;
			}
		}
	}

	&__color {
		margin-right: 1em;
		width: 5px;
		height: 20px;
		border-radius: 10px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		background: red;
	}

	&__subsbox {
		width: 100%;
		height: 160px;
		padding: 0.5em 1em;
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.1);
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 0;
		}

		&-item {
			position: relative;
			display: flex;
			justify-content: space-between;
			padding: 1em;
			margin: 0.5em 0;
			border-radius: 10px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
			background-color: $container-bg;
			overflow: hidden;

			i {
				margin-left: 1em;
				padding: 0.4em;
				font-size: 1.8rem;
				color: $text-second-color;
				cursor: pointer;
			}

			&-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform: translateX(400px);
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px;
				background-color: $container-bg;
				transition: transform 0.5s ease-in-out;
				z-index: 5;

				i {
					margin-left: 0;
				}
			}

			&-btn {
				padding: 0.2em 0;
				width: 30%;
				font-size: 1.8rem;
				font-weight: bold;
				border-radius: 5px;
				letter-spacing: 0.7px;
				border: none;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
				background: rgba(255, 255, 255, 0.1);
				color: white;
				cursor: pointer;
				transition: background 0.5s;

				&:hover {
					background: rgba(255, 255, 255, 0.05);
				}
			}

			&-btns {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 90%;
			}
		}
	}

	&__container {
		padding: 2em;
		margin: 1em;
		height: 260px;
		border-radius: 30px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		background: $container-bg;

		&--30 {
			display: flex;
			align-items: center;
		}

		&-circle {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-right,
			&-left {
				display: flex;
				align-items: center;
			}
		}

		&-top {
			padding-bottom: 2.5em;

			&-last {
				max-width: 500px;
				padding-bottom: 2em;
			}

			&-subs {
				padding-bottom: 1rem;
			}
		}

		&--mb20 {
			margin-bottom: 2em;
		}

		&--p15 {
			padding: 1em 1.5em;
		}

		&--280 {
			height: 120px;
		}

		&--income {
			background: $income-bg;
		}

		&--expense {
			background: $expense-bg;
		}

		&--expense-split {
			background: $expense-split;
			height: auto;
		}

		&--budget,
		&--total,
		&--last {
			position: relative;
			overflow: hidden;
		}

		&--last {
			background: $last-spendings-bg;

			&::after {
				content: "";
				position: absolute;
				top: 80px;
				right: -130px;
				width: 400px;
				height: 200px;
				transform: rotate(-58deg);
				border-radius: 30px;
				background: rgba(255, 255, 255, 0.1);
			}

			&::before {
				content: "";
				position: absolute;
				top: 30px;
				right: -180px;
				width: 400px;
				height: 200px;
				transform: rotate(41deg);
				border-radius: 30px;
				background: rgba(255, 255, 255, 0.1);
			}
		}

		&--budget {
			background: $budget-spent-bg;

			&::after {
				content: "";
				position: absolute;
				top: -35px;
				right: -200px;
				width: 320px;
				height: 270px;
				transform: rotate(337deg);
				border-radius: 30px;
				background: rgba(111, 183, 255, 0.08);
			}
		}

		&--total {
			background: $total-balance-color;

			&::after {
				content: "";
				position: absolute;
				top: -20px;
				right: -110px;
				width: 200px;
				height: 260px;
				transform: rotate(45deg);
				border-radius: 30px;
				background: rgba(255, 255, 255, 0.1);
			}

			&::before {
				content: "";
				position: absolute;
				bottom: -160px;
				right: 30px;
				width: 200px;
				height: 260px;
				transform: rotate(45deg);
				border-radius: 30px;
				background: rgba(255, 255, 255, 0.1);
			}
		}
	}

	&__text {
		position: relative;
		z-index: 1;

		&--bold {
			font-weight: bold;
		}

		&--upcase {
			text-transform: capitalize;
		}

		&--hover {
			transition: color 0.5s;
			cursor: pointer;

			&:hover {
				color: $text-main-color;
			}
		}

		&--80alpha {
			color: $text-second-color;
		}

		&--60alpha {
			color: $text-third-color;
		}

		&--12 {
			font-size: 1.2rem;
			letter-spacing: 0.4px;
		}

		&--14 {
			font-size: 1.4rem;
			letter-spacing: 0.3px;
		}

		&--16 {
			font-size: 1.6rem;
		}

		&--18 {
			font-size: 1.8rem;
			letter-spacing: 0.7px;
		}

		&--20 {
			font-size: 2rem;
			letter-spacing: 0.8px;
		}

		&--24 {
			padding-top: 0.3em;
			font-size: 2.4rem;
			letter-spacing: 1px;
		}

		&--28 {
			font-size: 2.8rem;
			letter-spacing: 1.7px;
		}

		&--36 {
			font-size: 3.6rem;
			letter-spacing: 2.2px;
		}

		&--scale {
			font-size: 3.2rem;
		}

		&--total {
			padding: 1.5rem 0;
		}

		&--total10 {
			padding: 1rem 0 0;
		}

		&--p40 {
			padding: 4rem 0;
		}

		&--black {
			color: $text-black-color;
		}

		&--income,
		&--expense,
		&--date {
			padding: 0.7rem 1em;
			border-radius: 20px;
		}

		&--date {
			background: #3b4045;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		}

		&--income {
			box-shadow: 0 0 10px $income-text-boxshadow;
			background-color: $income-text-bg;
		}

		&--expense {
			box-shadow: 0 0 10px $expense-text-boxshadow;
			background-color: $expense-text-bg;
		}
	}

	&__button {
		position: relative;
		margin-top: 5rem;
		padding: 0.75em 1.5em;
		font-size: 1.8rem;
		font-weight: bold;
		letter-spacing: 0.7px;
		border: none;
		border-radius: 30px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		background: $container-bg;
		cursor: pointer;
		z-index: 1;
		transition: color 0.5s, background 0.5s;

		&:hover {
			color: $text-second-color;
			background: $container-bg-hover;
		}
	}

	&__profile {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

sup {
	position: absolute;
	top: -2px;
	right: 0;
}

.sup__higher {
	top: -5px;
}

.fa-ellipsis-vertical {
	transition: color 0.5s;

	&:hover {
		color: $text-main-color;
	}
}

.profile {
	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__inputbox {
		margin: 0.5em 0;
	}

	&__input,
	&__button,
	&__select {
		font-size: 1.8rem;
		color: $text-main-color;
	}

	&__input {
		padding: 0.5em;
		margin: 0.5em 0;
		border: 1px solid $text-main-color;
		border-radius: 5px;
		background: light-dark(rgb(232, 240, 254));
		color: $text-black-color;
	}

	&__select {
		margin-top: 0.5em;
		padding: 0.5em;
		border: 1px solid $text-main-color;
		border-radius: 5px;
		background: none;
	}

	&__option {
		color: black;
	}

	&__button {
		margin-top: 0.5em;
		margin-bottom: 2em;
		padding: 0.4em 0.8em;
		font-weight: bold;
		border-radius: 10px;
		border: none;
		background: rgba(255, 255, 255, 0.1);
		cursor: pointer;
		transition: background 0.5s;

		&:hover {
			background: rgba(255, 255, 255, 0.2);
		}
	}
}

@media (min-width: 576px) {
	.main {
		&__container {
			&--30 {
				width: 30%;
			}
		}

		&__text {
			&--scale {
				font-size: 3.6rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.main {
		&__top {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
		}

		&__top-mid {
			flex-grow: 1;
		}

		&__container {
			&-circle {
				flex-direction: row;
			}

			&--total {
				width: 50%;
			}

			&--400 {
				min-width: 400px;
			}

			&--280 {
				min-width: 280px;
			}

			&--expense-split {
				width: 100%;
			}
		}

		&__list {
			&-left {
				padding-left: 4rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.main {
		&__mid,
		&__bottom {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
		}

		&__container {
			&--740 {
				max-width: 740px;
				width: auto;
				flex-grow: 1;
			}

			&--700 {
				max-width: 700px;
				width: auto;
				flex-grow: 1;
			}

			&--budget {
				max-width: 400px;
				width: 100%;
			}

			&--sub {
				max-width: 440px;
				width: 100%;
			}
		}
	}
}

@media (min-width: 1200px) {
	.main {
		&__top-mid {
			flex-grow: 0;
		}

		&__container {
			&--400 {
				max-width: 400px;
				width: 100%;
			}

			&--280 {
				width: 280px;
			}

			&--440 {
				max-width: 440px;
				width: 100%;
			}
		}
	}
}
